
// 时间戳转化日期格式 yy-mm-dd hh:mm:ss
var formatDateTime = function(value) {
  value = value.replace(".000+0000", "Z");
  var time = getDate(value);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var date = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();
  month = month < 10 ? "0" + month : month;
  date = date < 10 ? "0" + date : date;
  hour = hour < 10 ? "0" + hour : hour;
  minute = minute < 10 ? "0" + minute : minute;
  second = second < 10 ? "0" + second : second;
  return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
}

var slice = function(value) {
  return value.split('T')[0]
}

module.exports = {
  formatDateTime: formatDateTime,
  slice: slice
}
